body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
}

.container {
  margin-top: 3em;
  max-width: 50em;
}
.row {
  margin-bottom: 1em;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
  blockquote {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 480px) {
  blockquote {
    font-size: 2em;
  }
}
